body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.hidden-text {
    color: white; /* Torna o texto invisível */
    font-size: 24px;
}